# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# Data / checkpoints
data/
datasets/
checkpoints/
*.pt
*.pth

# OS files
.DS_Store
Thumbs.db

